body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  line-height: 1.5em;
}

body header {
	background: #f7f7f7;
	height: 70px;
	border-bottom: 1px solid #ddd;
}

body header img {
	position: relative;
  top: 18px;
}

body header a {
	position: relative;
	top: 25px;
}

.view-container {
    margin-bottom: 100px;
}


h1 {
	font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
    font-size: 16px;
}

ul {
    list-style: none;
}

.progress-nav {
	width: 100%;
	list-style: none;
	padding: 0;
	background: rgba(92,92,92,1);
	margin-top: 30px;
}

.progress-nav li {
	width: 16.6666%;
	float: left;
}

.progress-nav span {
  font-size: 1.5em;
  vertical-align: top;
  margin-right: 10px;
}

.progress-nav a {
	line-height: 48px;
	color: #fff;
	height: 48px;
	background: rgba(92,92,92,1);
	display: block;
}



.progress-nav li:first-child a {
  background: rgba(0,176,109,1);
}

.progress-nav a:hover,
.progress-nav a:focus {
	color: #fff;
	text-decoration: none;
}

.progress-nav a.active {
	background: rgba(0,176,109,1);
}

.btn {
	width:216px;
	height: 48px;
	background: rgba(0,176,109,1);
	border-radius: 4px;
	color: #fff;
}

.btn:hover,
.btn:focus {
	color: #fff !important;
	position: relative;
}

.btn:hover:after {
	content: "";
	background: rgba(0,0,0,.1);
	width: 100%;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.btn.disabled {
	background: rgba(92,92,92,1);
}

.content-area {
    padding: 20px 0;
}


/* GETTING STARTED */

.sponsors {
    list-style: none;
    padding-left: 0;
}

.sponsors li {
    margin-right: 15px;
    display: inline-block;
}

.sponsors li img {
    width: 100px;
    height: 100px;
    background: #e7e7e7;
}

.impact2030 {
    max-width: 250px;
}

.youtube-iframe {
    padding: 30px 0 0 47px;
    width: 100%;
    height: 262px;
}

/* step 2 */

.helpnote {
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #d7d7d7;
}

.lrg-checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 10px 5px 10px 0 !important;
}

/* step 3 */
.sdg-list {
    list-style: none;
    padding-left: 0;
}

.sdg-list li {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.sdg-list li img {
    width: 175px;
    height: 175px;
    cursor: pointer;
}

.selected-sdgs {
    margin: 20px 0 50px;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
}

.selected-sdgs ul {
    list-style: disc;
    padding-left: 15px;
}

.selected-sdgs li a {
    margin-left: 15px;
    font-size: .8em;
}

.sdg-modal {
    padding: 20px;
}

.modal-header,
.modal-footer {
    border: 0;
}

.gray-box {
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 0 15px;
}

.gray-box h2 {
    margin-top: 10px;
}