<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- JS -->
    <!-- load bootstrap, angular, nganimate, and ui-router -->
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link href="style/ui-bootstrap-csp.css" rel="stylesheet" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
    <link href="style/ui-bootstrap-csp.css" rel="stylesheet" />
    <script src="js/ui-bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>

    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angular-animate.min.js"></script>

    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/sustainabilityDevelopmentGoalService.js"></script>
    <script src="js/controllers/impact2030ProfileController.js"></script>
    <script src="js/directives/stepProgress.js"></script>
    <script src="js/directives/sharedslider.js"></script>
    <script src="js/directives/sponsorList.js"></script>
    <script src="js/directives/categoriesFinalDetails.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="style/style.css">

</head>
<!-- apply our angular app -->
<body ng-app="app">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/"><img src="images/impactnowlogo.png" alt="" class="pull-left"></a>
                    <a target="_blank" href="images/FAQs.pdf" class="pull-right header-link">Need Help?</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <!-- views will be injected here -->
        <div class="view-container" ui-view></div>
    </div>

</body>
</html>