<div class="impact-area-list" ng-repeat="cat in selectedProfile">
    <div class="col-xs-2">
        <img ng-src="{{cat.imageUrl}}" alt="{{cat.name}}" width="160" />
    </div>
    <div class="col-xs-10">
        <div> #{{cat.num}} {{cat.name}}</div>
        <div><span>{{cat.givePercentage}}% of Your Giving</span><span>{{cat.volunteerPercentage}}% of Your Volunteering</span></div>
        <div>Targets identified ({{cat.subs.length}})</div>
        <div>
            <div class="col-xs-9" ng-repeat="subCat in cat.subs">
                <div class="col-xs-7">{{$index + 1}}. {{subCat.text}}</div>
                <div class ="col-xs-2">- {{subCat.percentage}}%</div>
                <div class="col-xs-3">
                    <shared-slider model="subCat.percentage" total="cat.targetsTotalPercentage"></shared-slider>
                </div>
            </div>
            <div class="col-xs-3">
                <h2> {{cat.targetsTotalPercentage}} of 100%</h2>
                Allocated for Targets
            </div>
        </div>
        <div class="clearfix"></div>
        <!--<div><a href="#" onclick="showSliders()">Edit Target Percentages</a></div>-->
    </div>
    <div class="clearfix"></div>
</div>
