<div class="content-area">

    <div class="row">
        <div class="col-sm-12">
            <img src="images/profile-saved.png" class="img-responsive">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
            <h2>Your Impact Profile</h2>
            <p>
                Based on our CSRConnect data, here is how you compare with other charities in our network.
                <a class="pull-right" href="">Export detailed profile</a>
            </p>
            <div class="col-sm-12 final-sdg">
                <div class="col-md-2">
                    <img class="img-responsive" ng-src="images/QualityEducation.png" alt="Quality Education" src="images/QualityEducation.png">
                </div>
                <div class="col-md-10">
                    <span class="red-bar1">$12,980 in Donations</span>
                    <span class="red-bar2">3,210 Volunteer Hours</span>
                </div>
            </div>
            <div class="col-sm-12 final-sdg">
                <div class="col-md-2">
                    <img class="img-responsive" ng-src="images/LifeBelowWater.png" alt="Life Below Water" src="images/LifeBelowWater.png">
                </div>
                <div class="col-md-10">
                    <span class="blue-bar1">$7,510 in Donations</span>
                    <span class="blue-bar2">1,819 Volunteer Hours</span>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <h3>Charities that share your sustainable development goals</h3>
            <ul class="likecharities">
                <li><img class="img-responsive" src="images/AmericanHeart.jpg"></li>
                <li><img class="img-responsive" src="images/BluePlanet.jpg"></li>
                <li><img class="img-responsive" src="images/MakeAWish.jpg"></li>
                <li><img class="img-responsive" src="images/AllHands.jpg"></li>
                <li><img class="img-responsive" src="images/UnitedWay.jpg"></li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3>Share Impact 2030?</h3>
            <p>Help us spread the word about this initiative. </p>
            <ul class="social-icons">
                <li><a id="twitter" href=""></a></li>
                <li><a id="facebook" href=""></a></li>
                <li><a id="linkedin" href=""></a></li>
                <li><a id="instagram" href=""></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <p>
                <br />
                Add your social handle and we will feature your
                organization in upcoming awareness campaigns.
                <br />
            </p>
            <div class="select-wrap" style="width: 150px; display: inline-block;">
                <select class="form-control">
                    <option selected default>Twitter</option>
                    <option>Facebook</option>
                    <option>LinkedIn</option>
                    <option>Instagram</option>
                </select>
            </div>
            <input type="textbox" class="form-control" placeholder="User Name" style="width: 150px; display: inline-block;" />
            <a href="" style="margin-left: 15px; display: inline-block;">Save</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <h3>What's next? </h3>
            <span>
                Thank you for being one of the first organizations to fill out an Impact Profile! As we <br />
                continue our plan for Impact 2030, your impact profile will evolve to show the <br />
                relationship between your contributions and the Sustainable Development Goals. We <br />
                plan to share updates with all impact charities as new features are made available. <br /> <br />
            </span>
            <span>
                You can now proceed to your account and access your information.
            </span>
        </div>
    </div>

</div>


<div class="row">
    <hr />
    <button class="btn btn-primary pull-right" ng-click="toNPO()">Continue to NPO Portal</button><br />
    <!--<a href=""> I need to make changes, Go Back </a>-->
</div>