<div class="content-area">

    <h2>Donations and Volunteer Hours</h2>

    <div class="row">
        <div class="col-xs-8">
            <div>
                <p>
                    Not every organization has both volunteer hours and dollars. Please select the methods of aid most relevant to your organization before continuing.
                    <br />
                    <br />
                </p>
                <ul>
                    <li><h4><input type="checkbox" class="lrg-checkbox" name="donations" ng-model="profile.receivesDonations"> My Organization Receives Charitable Donations</h4></li>
                    <li><h4><input type="checkbox" class="lrg-checkbox" name="vehiscle" ng-model="profile.receivesVolunteerHours"> My Organization Receives Volunteer Hours</h4></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="helpnote">
                <h4>Why Does This Matter?</h4>
                <p>
                    This helps us determine what kind of work your prganization does. As we move forward, you will be answering question about how you allocate
                    donations and hours served. To make sure we are accurately representing your organization's giving and volunteering, we need to confirm your
                    organization receives monetary donations as well as volunteer service.
                </p>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-sm-12">
        <hr />
        <button class="btn pull-right" ng-disabled="!profile.receivesDonations && !profile.receivesVolunteerHours" ng-click="moveToNextStep()">Next Step</button>
    </div>
</div>