<style type="text/css">
    ul#sponsors {
        list-style-type: none;
    }

        ul#sponsors li {
            display: inline;
        }
</style>

<div class="content-area">
    <h3>What is Impact 2030?</h3>
    <br />
    <div class="row">
        <div class="col-xs-8">

            <div>
                Impact 2030 is a collaboration between the private sector, United Nations, civil society, academia, and <br />
                philanthropic organization to end poverty, combat climate change and fight injustice and inequality by 2030. Each <br />Impact 2030 founding partner has commited to strategically aligningand mobilizing employee actions towards <br />one or more of the SDG's (Sustainable Development Goals).<br />
                By completing this profile, your organization will be contributing to the global fight to bring about sustainable <br />societal change and make a real difference. As more organizations become invloved, we can produce reports to<br /> show you a profile of your personal impact. This partnership between our corporate partners and your <br />organization is crucial to the success of this UN initiative and the improvement of the impact measurement. <br /><br />
            </div>
            <ul id="sponsors">
                <li id="chevron"><img src="" alt="" href=""></li>
                <li id="nrg"><img src="" alt="" href=""></li>
                <li id="ericsson"><img src="" alt="" href=""></li>
                <li id="pfizer"><img src="" alt="" href=""></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <img id="impact2030" src="" alt="" href="">
            <iframe width="420" height="345"
                    src=""></iframe>
        </div>
    </div>
</div>




<div class="row">
    <hr />
    <button class="btn pull-right" ng-click="moveToNextStep()">Next Step</button>
</div>