<div class="content-area">
    <h3>What is Impact 2030?</h3>
    <p>Impact 2030 is a collaboration between the private sector, United Nations, civil society, academia, and philanthropic organizations to end poverty, combat climate change and fight injustice and inequality by 2030. Each Impact 2030 founding partner has committed to strategically aligning and mobilizing employee actions towards one or more of the SDG's (Sustainable Development Goals).</p>
    <p>By completing the profile, your organization will be contributing to the global fight to bring about sustainable societal change and make a real difference. As more organizations become involved, we can produce reports to show you a profile of your personal impact. This partnership between our corporate partners and your organization is crucial to the success of this UN initiative and the improvement of impact measurement.</p>
    <h4>Corporate Sponsors</h4>
    <!-- Logos here -->
</div>
<div class="row">
    <hr />
    <button class="btn pull-right" ng-click="moveToNextStep()">Next Step</button>
</div>