<div class="content-area">

    <h2>What is Impact 2030?</h2>

    <div class="row">
        <div class="col-xs-8">
            <p>
                Impact 2030 is a collaboration between the private sector, United Nations, civil society, academia, and
                philanthropic organization to end poverty, combat climate change and fight injustice and inequality by 2030. Each
                Impact 2030 founding partner has commited to strategically aligningand mobilizing employee actions towards
                one or more of the SDG's (Sustainable Development Goals).
            </p>
            <p>
                By completing this profile, your organization will be contributing to the global fight to bring about sustainable
                societal change and make a real difference. As more organizations become involved, we can produce reports to
                show you a profile of your personal impact. This partnership between our corporate partners and your
                organization is crucial to the success of this UN initiative and the improvement of the impact measurement.
            </p>

            <h3>Corporate Sponsors</h3>
            <ul class="sponsors">
                <li ng-repeat="sponsor in sponsorList track by $index"><img ng-src="{{sponsor.url}}"></li>
            </ul>
        </div>

        <div class="col-xs-4 text-right">
            <a href="http://www.impact2030.com/" target="_blank"><img class="impact2030" src="images/impact2030.png" alt="impact2030"></a>
            <iframe class="youtube-iframe" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>


</div>




<div class="row">
    <div class="col-sm-12">
        <hr />
        <button class="btn pull-right" ng-click="moveToNextStep()">Next Step</button>
    </div>
</div>




