<div class="content-area">
    <h3>Select Your Impact Goals</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Browse the Impact Goals below and select those that are relevant to your Organization's work. In order to add a
                Goal to your profile, you need to select all the sub-targets ("categories") that apply to the work you do. Once you
                have selected your goals, you can proceed to the next step where you will tell us how invloved you are in each area.
                <br />
            </p>

        </div>
    </div>


    <div class="row" ng-show="profile.selectedSDGs.length > 0">
        <div class="col-sm-12 col-md-6">
            <div class="selected-sdgs">
                <h4>You Have Selected the Following <b>{{profile.selectedSDGs.length}}</b> SDG<span ng-if="profile.selectedSDGs.length > 1">s</span></h4>
                <ul>
                    <li ng-repeat="sdg in profile.selectedSDGs">
                        <span>{{formatSDG(sdg)}}</span><a href="" ng-click="removeSelectedSDG(sdg)">Remove</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <hr />
            <ul class="sdg-list">
                <li ng-repeat="sdg in sdgs">
                    <a ng-click="selectSDG(sdg)"><img ng-src="{{sdg.imageUrl}}" alt="{{sdg.name}}" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <hr />
        <button class="btn btn-primary pull-right" ng-click="moveToNextStep()" ng-disabled="profile.selectedSDGs.length === 0">Next Step</button>
    </div>
</div>

