<div class="content-area">
    <h3>How involved in these areas are you?</h3>
</div>

<div class="row">
    <div class="row">
        <!--<div class="col-xs-12 col-sm-push-6">-->
            <div class="col-xs-12 col-sm-6" ng-show="profile.receivesDonations" align="center">
            </div>
            <div class="col-xs-12 col-sm-3" ng-show="profile.receivesDonations" align="center">
                <h2 text-align="center"> {{profile.givePercentage}}%</h2>
                <h4 text-align="center"> Allocated for Giving</h4>
            </div>
            <div class="col-xs-12 col-sm-3" ng-show="profile.receivesVolunteerHours" align="center">
                <h2 text-align="center"> {{profile.volunteerPercentage}}%</h2>
                <h4 text-align="center"> Allocated for Volunteering</h4>
            </div>
        <!--</div>-->
    </div>
    <ul class="media-list">
        <li class="media" ng-repeat="sdg in profile.selectedSDGs">
            <div class="col-xs-12 col-sm-2">
                <div class="media-left media-middle">
                    <img class="img-responsive"
                         ng-src={{sdg.imageUrl}} alt={{sdg.name}}/>
                    
                </div>
            </div>
            <div class="media-body">
                <div class="col-xs-12 col-sm-4">
                    <h2 class="media-heading">
                        {{formatSDG(sdg)}}<a href="" ng-click="removeSelectedSDG(sdg)"><span class="small">Remove</span></a>
                    </h2>
                    <!--<p>{{sdg.text}}</p>-->
                </div>
                <div class="col-xs-12 col-sm-3" ng-show="profile.receivesDonations">
                    <p>{{sdg.givePercentage}} %</p>
                    <!--<slider ng-model="sdg.givePercentage" min="min" max="60" on-stop-slide="updateTotalGivePercentage($event, value)"></slider>-->
                    <shared-slider model="sdg.givePercentage"  total="profile.givePercentage"></shared-slider>

                </div>
                <div class="col-xs-12 col-sm-3" ng-show="profile.receivesVolunteerHours">
                    <p>{{sdg.volunteerPercentage}} %</p>
                    <!--<slider ng-model="sdg.volunteerPercentage" min="min" max="30" on-slide="slide(value)" on-stop-slide="updateTotalVolunteerPercentage($event, value)"></slider>-->
                    <shared-slider model="sdg.volunteerPercentage" total="profile.volunteerPercentage"></shared-slider>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="row">
    <hr />
    <button class="btn pull-right" ng-click="moveToNextStep()">Next Step</button>
</div>
<i class="fa fa-times" aria-hidden="true"></i>
