<div class="sdg-modal">

    <div class="modal-header">
        <div class="col-sm-3">
            <img ng-src="{{displayedSdg.imageUrl}}" alt="{{displayedSdg.name}}" class="img-responsive" />
        </div>
        <div class="col-sm-9">
            <h3 class="modal-title">{{formattedName}}</h3>
            <p>{{displayedSdg.text}}</p>
        </div>
    </div>
    <div class="modal-body">
        
        <p><b>To add this area, select all the targets below that are relevant to your work.</b> <a href="">What are Targets?</a></p>
        <ul>
            <li ng-repeat="s in displayedSdg.subs">
                <input type="checkbox" ng-model="s.selected" /><span>{{s.num}}. {{s.text}}</span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>